.logo-hospital{
	max-width: 80px
}

.d-block{
	max-height: 500px;
}

.btn-group{
	float: right;
	
}

/*.carousel-inner img {
  margin: auto;
}
*/
.active {
  background-color: #777;
}

.second{
    background-color: #777;
}

.third {
    background-color: #777;
}