.logo-hospital{
	max-width: 80px
}

.d-block{
	max-height: 1000px;
}

.btn-group{
	float: right;
	
}


.active {
  background-color: #777;
}

.second{
    background-color: #777;
}

.third {
    background-color: #777;
}